<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
<meta name=apple-touch-fullscreen content=yes>
<link rel=apple-touch-icon href=/src/img/favicon.267ace1.png>
<meta name=format-detection content="telephone=no">
<meta name=format-detection content="email=no">
<meta name=renderer content=webkit>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=HandheldFriendly content=true>
<meta name=MobileOptimized content=320>
<meta name=screen-orientation content=portrait>
<meta name=x5-orientation content=portrait>
<meta name=full-screen content=yes>
<meta name=x5-fullscreen content=true>
<meta name=browsermode content=application>
<meta name=x5-page-mode content=app>
<meta name=msapplication-tap-highlight content=no>
<link rel="shortcut icon" href=favicon.ico type=image/x-icon>
<script type="text/javascript" src="js/jquery2.js"></script>
<script type="text/javascript" src="jquery.cityselect.js"></script>
{css href="__CSS__/login.css" /}
{js href="__JS__/resize.js" /}
{js href="__JS__/jquery.js" /}
{js href="__JS__/bankcard.js" /}
<script>
$(function(){
  $("#city_3").citySelect({
      prov: "江苏",
      city: "南京"
  });
})
</script>
</head>
<body>
<div id="app">
  <header class="top"><span>绑定银行卡</span> <!---->
    <a href="{:url('www/usercenter/index')}" class="iconfont back"></a></header>
  <div data-v-37e217f7="" class="main" s="[object Object]">
    <table data-v-37e217f7="" id='city_3'>
      <tbody data-v-37e217f7="">
        <tr data-v-37e217f7="">
          <td data-v-37e217f7="">选择银行</td>
          <td data-v-37e217f7=""><select data-v-37e217f7="" tag="银行" class="va271" name="BankID" id="BankID">
              <option data-v-37e217f7="" value="0">请选择银行</option>
              <option data-v-37e217f7="" value="1">工商银行</option>
              <option data-v-37e217f7="" value="2">建设银行</option>
              <option data-v-37e217f7="" value="3">农业银行</option>
              <option data-v-37e217f7="" value="4">民生银行</option>
              <option data-v-37e217f7="" value="5">招商银行</option>
              <option data-v-37e217f7="" value="6">交通银行</option>
              <option data-v-37e217f7="" value="7">中国银行</option>
              <option data-v-37e217f7="" value="8">邮政储蓄</option>
              <option data-v-37e217f7="" value="9">中信银行</option>
              <option data-v-37e217f7="" value="10">兴业银行</option>
              <option data-v-37e217f7="" value="11">华夏银行</option>
              <option data-v-37e217f7="" value="12">浦发银行</option>
              <option data-v-37e217f7="" value="13">广发银行</option>
              <option data-v-37e217f7="" value="14">平安银行</option>
              <option data-v-37e217f7="" value="15">光大银行</option>
              <option data-v-37e217f7="" value="17">农商银行</option>
            </select>
            <i data-v-37e217f7="" class="iconfont unfold"></i></td>
        </tr>
        <tr data-v-37e217f7="">
          <td data-v-37e217f7="">开户省</td>
          <td data-v-37e217f7="">
          <select data-v-37e217f7="" class="prov va271" name="Address_P" id="Address_P" tag="开户省">
          <option data-v-37e217f7="" value="0">北京</option>
              <option data-v-37e217f7="" value="1">东京</option>
              </select> 
            <i data-v-37e217f7="" class="iconfont unfold"></i></td>
        </tr>
        <tr data-v-37e217f7="">
          <td data-v-37e217f7="">开户市</td>
          <td data-v-37e217f7=""> 
              <select data-v-37e217f7="" class="city va271" disabled="disabled" name="Address_C" id="Address_C">
                  <option data-v-37e217f7="" value="0">北京</option>
              <option data-v-37e217f7="" value="1">东京</option>
              
              </select>
            <i data-v-37e217f7="" class="iconfont unfold"></i></td>
        </tr>
        <tr data-v-37e217f7="">
          <td data-v-37e217f7="">开户人姓名</td>
          <td data-v-37e217f7=""><input data-v-37e217f7="" type="text" tag="开户人姓名" value="" placeholder="请输入银行卡的姓名" class="va271" name="RealName"></td>
        </tr>
        <tr data-v-37e217f7="">
          <td data-v-37e217f7="">银行卡号</td>
          <td data-v-37e217f7=""><input data-v-37e217f7="" type="tel" tag="银行卡号" value="" placeholder="请输入银行卡的卡号" class="va271" name="BankNum"></td>
        </tr>
        <tr data-v-37e217f7="">
          <td data-v-37e217f7="">确认卡号</td>
          <td data-v-37e217f7=""><input data-v-37e217f7="" type="tel" tag="确认卡号" value="" placeholder="请再次输入银行卡号" class="va271" name="checkBankNum"></td>
        </tr>
       
        <tr data-v-37e217f7=""></tr>
      </tbody>
    </table>
    <div data-v-37e217f7="" class="loginBtn BTN"><a data-v-37e217f7="">确定</a></div>
  </div>
</div>
</body>
</html>