<!-- Data Tables -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单标题概要 -->
                <div class="ibox-title">
                    <h5>{:lang('Account List')}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <!-- 表单内容 -->
                <div class="ibox-content">
                    <!-- 用户控件（操作） -->
                     
                    <!-- 表格数据 -->
                    <table id="table" data-toggle="gridview" class="table" data-url="{:url('admin/index/getbetrecord')}" data-toolbar="#toolbar" data-show-columns="true" data-page-size="10" data-page-list="[10, 25, 50, All]" data-unique-id="id" data-pagination="true" data-side-pagination="client" data-search="true" data-click-to-select="false">
                        <thead>
                            <tr>                                 
                                <th data-width="50" data-field="username" >账户</th>
                                <th data-width="80" data-field="nickname" data-align="center">昵称</th>
                                <th data-width="80" data-field="lotteryname" data-align="center">投注类型</th>
                                <th data-width="80" data-field="bettingmoney" data-align="center">投注金额</th>
                                <th data-width="80" data-field="winningmoney" data-align="center">中奖金额</th>
                                <th data-width="80" data-field="lotteryid" data-align="center">开奖期数</th>
                                <th data-width="80" data-field="lotterynumbers" data-align="center">开奖结果</th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

