<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
<meta name=apple-touch-fullscreen content=yes>
<link rel=apple-touch-icon href=/src/img/favicon.267ace1.png>
<meta name=format-detection content="telephone=no">
<meta name=format-detection content="email=no">
<meta name=renderer content=webkit>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=HandheldFriendly content=true>
<meta name=MobileOptimized content=320>
<meta name=screen-orientation content=portrait>
<meta name=x5-orientation content=portrait>
<meta name=full-screen content=yes>
<meta name=x5-fullscreen content=true>
<meta name=browsermode content=application>
<meta name=x5-page-mode content=app>
<meta name=msapplication-tap-highlight content=no>
<link rel="shortcut icon" href=favicon.ico type=image/x-icon>
{css href="__CSS__/login.css" /}
{js href="__JS__/jquery.js" /}
{js href="__JS__/login.js" /}
{js href="__JS__/resize.js" /}


</head>
<body>
<div id="app">
  <header class="top">
    <span>用户登录</span> <!---->
    <div class="iconfont back" style="display: none;"></div>
    <a href="{:url('www/login/index')}" class="iconfont back"></a> 
  </header> 
  <div data-v-3060be5c="" class="main" s="[object Object]">
    <div data-v-3060be5c="" class="header">
      <div data-v-3060be5c="" class="headImg"><img data-v-3060be5c="" src="http://imagess-google.com/system/common/headimg/defaultHead.png" width="100%" height="100%" alt=""> </div>
    </div>
    <form data-v-3060be5c="" autocomplete="off">
      <table data-v-3060be5c="">
        <tbody data-v-3060be5c="">
          <tr data-v-3060be5c="">
            <td data-v-3060be5c="" class="username-icon"></td>
            <td  data-v-3060be5c="" colspan="2" style="position: relative;"><input value="石金融" data-v-3060be5c="" tag="帐号" type="email" placeholder="请输入账号" class="va36" name="UserName" required style="position: relative; z-index: 1; background: rgba(0, 0, 0, 0);">
              <!----> <em data-v-1355ab9a="" class="clearInput" inputname="UserName" data-v-3060be5c="" style="display: none;"></em></td>
          </tr>
          <tr data-v-3060be5c="">
            <td data-v-3060be5c="" class="password-icon"></td>
            <td data-v-3060be5c="" colspan="2" style="position: relative;"><input value="123456" data-v-3060be5c="" maxlength="16" autocomplete="off" tag="密码" type="Password" placeholder="请输入密码" class="va36" name="Password" required style="position: relative; z-index: 1; background: rgba(0, 0, 0, 0);">
              <span data-v-7b1322d1="" class="iconfont eye" type="close" data-v-3060be5c=""></span> <em data-v-1355ab9a="" class="clearInput" data-v-3060be5c="" style="display: none;"></em></td>
          </tr>
          <!---->
          <tr data-v-3060be5c=""></tr>
        </tbody>
      </table>
    </form>
    <div data-v-3060be5c="" class="loginBtn BTN"><a data-v-3060be5c="">立即登录</a></div>
    <div data-v-3060be5c="" class="otherBtn"><a href="{:url('www/login/register')}" class="signup" data-v-3060be5c="">立即注册</a><a href="{:url('www/login/forgetpwd')}" class="forget" data-v-3060be5c="">忘记密码</a></div>
    <ul data-v-3060be5c="" id="usedList">
    </ul>
    <div data-v-2b5ddb46="" class="_problemBox" data-v-3060be5c="" style="display: none;">
      <div data-v-2b5ddb46="" class="blackBg"></div>
      <div data-v-2b5ddb46="" class="moreLayer">
        <ul data-v-2b5ddb46="">
          <li data-v-2b5ddb46=""><a data-v-2b5ddb46="">选择登录帐号</a></li>
        </ul>
        <ul data-v-2b5ddb46="">
          <li data-v-2b5ddb46=""><a data-v-2b5ddb46="">取消</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    <script type="text/javascript">
    
    </script>
</body>
</html>
